{% extends 'base.html.twig' %}


{% block body %}




<div class="container">
	<div class="content">
		<h2>WHAT IS ALT236 ? /// F.A.Q.</h2>
		<br>
		<div class="row">
			<div class="col-6">
				<iframe width="100%" height="315" src="https://www.youtube.com/embed/yLUFS8Yahe4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="col-6">
				<p><STRONG>Description</STRONG></p>
				<p>Réponses à vos questions, remerciements cosmiques, projets futurs, confidences et révélations : bon visionnage !

					Je vais venir mettre les références petit à petit en description ici dans l'attente d'une meilleure façon de vous les partager !!

					Voici la liste vers les comics et manga que je souhaite lire (mais que je n'ai pas encore lu) Apres recherches et conseils, j'ai fait cette petite liste : https://www.senscritique.com/liste/Wi...

					Je mets aussi le lien du Tipeee : https://www.tipeee.com/alt236 !</p>
				</div>
			</div>
			<br>

			<div class="sources">
				<!-- NavBar pour le scrollspy -->
				<nav id="navbar-example2" class="navbar navbar-dark bg-dark">
					<a class="navbar-brand" href="#">Sources</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a class="nav-link" href="#musiques">Musiques</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#images">Images</a>
						</li>
					</ul>
				</nav>
				<!-- Affichage des sources dans un scrollspy -->
				<div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="source-scroll">
					<h4 id="musiques">Musiques</h4>
	<!-- 				<div class="row">
					<div class="col-4 head-source">Titre</div>
						<div class="col-3 head-source">Auteur</div>
						<div class="col-4 head-source">Lien</div>
						<div class="col-1 head-source">Timer</div>
					</div>
					<div class="row">
						<div class="col-4">Titre</div>
						<div class="col-3">Auteur</div>
						<div class="col-4">Lien</div>
						<div class="col-1">Timer</div>
					</div>
				-->
				<table class="table table-striped head-source">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

				<h4 id="images">Images</h4>
							<table class="table table-striped head-source">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First</th>
							<th scope="col">Last</th>
							<th scope="col">Handle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>

			</div>
			
		</div>


	</div>

</div>


{% endblock %}