html{
	background-color: #343a40 !important;
	/*	background:url('../../images/WhatIsAlt236.jpg');*/
	background:url('../../images/CuriosityCabinet.jpg');
/*	background:url('../../images/TheMeeting.jpg');*/
	    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 

}


body{
	background-color:transparent !important;
}

.content{
	background-color: lightgrey;
	border-left: 5px solid #f25e23;
	    border-radius: 3px;
	        padding: 1em;
    margin: .5em 0;
}

.ligne-verte{
	height: 5px;
    background-color: limegreen;
}

.ligne-cian{
	height: 5px;
    background-color: #32cdcd;
}

.ligne-magenta{
	height: 5px;
    background-color: #ef0cbf;
    border-radius: 3px;
}


.footer{
		background-color	: #343a40 !important;
			color: white;
			position			: fixed;
			bottom				: 0;
			left				: 0;
			right				: 0;
			height				: 35px;
}

.sources{
		border-right: 5px solid #ef0cbf;
		   border-radius: 3px;

		   box-shadow: 0px 0px 8px 3px rgba(119, 119, 119, 0.35);
-moz-box-shadow: 0px 0px 8px 3px rgba(119, 119, 119, 0.35);
-webkit-box-shadow: 0px 0px 8px 3px rgba(119, 119, 119, 0.35);
}

.source-scroll{

	        padding: 10px;
    background-color: #c4c4c4;
    /* border-radius: 4px; */
    position: relative;
    height: 250px;
    overflow: auto;
}

.musique-scroll{

	        padding: 10px;
    background-color: #c4c4c4;
    /* border-radius: 4px; */
    position: relative;
    height: 250px;
    overflow: auto;
}


.user-scroll{

	        padding: 10px;
    background-color: #c4c4c4;
    /* border-radius: 4px; */
    position: relative;
    height: 150px;
    overflow: auto;
}

.head-source{
	text-align: center;
	border-left: 5px solid #343a40;
}

.nom-page{
	text-align: center;
}



/*css formulaire login*/

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto; 
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.dashboard{
    background-color: rgba(227, 227, 227, 0.94);
    border-left: 5px solid #f25e23;
	    border-radius: 3px;
	        padding: 1em;
    margin: .5em 0;
}
